@import url('https://fonts.googleapis.com/css?family=Amarante');

body {
    background-color: rgba(205, 247, 209, 0.6);
    /* background-color: #CDF7D1; */
}

.tittle { 
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  color: rgba(28, 135, 39, 0.5);
  text-align: center;
}
